<% cache [I18n.locale, current_pricing_options, @product] do %>
  <div data-hook="product_show" itemscope itemtype="http://schema.org/Product">
    <% @body_id = 'product-details' %>
    <div class="row">
      <div class="row">
        <div class="col-md-12">
          <h1 class="product-title" itemprop="name"><%= @product.name %></h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3" data-hook="product_left_part">
          <div data-hook="product_left_part_wrap">

          <div id="product-images" data-hook="product_images">
            <div id="main-image" data-hook>
              <%= render partial: 'image' %>
            </div>
          </div>

        </div>
      </div>

      <div class="col-md-3" data-hook="product_center_part">
        <div data-hook="product_center_part_wrap">
          <div data-hook="product_properties">
            <%= render partial: 'properties' %>
          </div>
        </div>
      </div>

      <div class="col-md-6 panel panel-default" data-hook="product_right_part">
        <div data-hook="product_right_part_wrap" >
          <div class="panel-heading">
            <h6 class="product-section-title"><%= Spree.t('Details')%></h6>
          </div>
          <div class="panel-body">
            <div id="product-description" data-hook="product_description">
              <div itemprop="description" data-hook="description">
                <%= product_description(@product) rescue Spree.t(:product_has_no_description) %>
              </div>
            </div>
          </div>
        </div>

          <ul class="list-group" id="cart-form" data-hook="cart_form">
            <li class="list-group-item">
              <%= render partial: 'cart_form' %>
            </li>
          </ul>

        <%= render partial: 'taxons' %>

    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-12">
      <div class="postcardText-container">
        <form class="text" data-hook="postcardText">
          <textarea type="text" name="message">Type Message Here.</textarea>
        </form>
      </div>
    </div>
  </div>
  </div>

  </div>
<% end %>
